@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  padding: 20px 30px;
  height: 100vh;
  background-color: #14161a;
  color: #bbd5ff;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.💙 {
  text-align: center;
  padding-bottom: 20px;
}
